@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/* fonts  */
/* 
font-family: 'Balsamiq Sans', cursive;
font-family: 'Dancing Script', cursive; 
*/

:root{
  
  --primary: #2A0944;
  --secondary: #3B185F;
  --third: #A12568;
  --accent: #FEC260;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--primary);
  font-family: 'Balsamiq Sans', cursive;
  color: #fafafa;
  margin: 0;
  height: 100vh;
}

#bgVideo{
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: .6;
}

button{
  background-color: transparent;
  padding: 1rem;
  border: 0;
  font-size: 1.4rem;
  color: #fafafa;
  cursor: pointer;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: var(--accent);
}

.pa{
  position: absolute !important;
}


.madewithlove{
  bottom: .5rem;
  right: 1rem;
  opacity: .7;
  font-size: .8rem;
}

.madewithlove a{
  color: inherit;
}