@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/* fonts  */
/* 
font-family: 'Balsamiq Sans', cursive;
font-family: 'Dancing Script', cursive; 
*/

:root{
  
  --primary: #2A0944;
  --secondary: #3B185F;
  --third: #A12568;
  --accent: #FEC260;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--primary);
  font-family: 'Balsamiq Sans', cursive;
  color: #fafafa;
  margin: 0;
}

button{
  background-color: transparent;
  padding: 1rem;
  border: 0;
  font-size: 1.4rem;
  color: #fafafa;
  cursor: pointer;
}

button:hover {

}

.pa{
  position: absolute !important;
}
